# Configurações do Immich
UPLOAD_LOCATION=/teu/caminho/para/o/disco
DB_DATA_LOCATION=./postgres
IMMICH_VERSION=release

# Segurança da Base de Dados 
DB_PASSWORD=uma_password_forte_aqui
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
